<!DOCTYPE html>
<body>
	<p>
		Hi @Model.ToUserName,
	</p>

	<p>
		Good news! <br />
		@Model.FromUserName has invite you to join the project group.
	</p>

	<p>
		<b>Project: </b> #@Model.ProjectID  - @Model.ProjectTitle<br /><br />
	</p>

	<p>
		<a href="@Model.CallbackURL/projects/project-list?subjectid=0&searchstring=@Model.ProjectTitle">View the project details here</a> to respond.
	</p>
	<p>
		If you have any questions please connect the project proposer - @Model.FromUserName <br />
	</p>
	<p>
		Regards,<br /><br />
		Research Project Management Portal<br />
		FEIT@UTS
	</p>
</body>
