@model SmartRP.Domain.TermViewModel

@{
	ViewBag.Title = "Delete";
}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<br />
			<h4>@ViewBag.TypeOfUser</h4>
			@Html.Action("Menu", (string)@ViewBag.TypeOfUser)

		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<p class="bg-light" style="padding-top:8px;">
				&nbsp; <span class="glyphicon glyphicon-home"></span>
				&nbsp; <span class="fa fa-angle-right"></span>&nbsp;
				@Html.ActionLink(" Manage Semester", "manage-semester", (string)@ViewBag.TypeOfUser, null, null)
				&nbsp; <span class="fa fa-angle-right"></span>&nbsp;
				Delete
			</p>
			<h3>Are you sure you want to delete this?</h3>
			<div>
			 
				<hr />
				<dl class="dl-horizontal">
					<dt>
						@Html.DisplayNameFor(model => model.TermName)
					</dt>
					<dd>
						@Html.DisplayFor(model => model.TermName)
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Subjects)
					</dt>
					<dd>
						@foreach (var subject in Model.Subjects)
						{
						<span style="color:#22be10; font-size:smaller"> @subject.SubjectName </span><br />
						}
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.StartAt)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.StartAt)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.EndAt)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.EndAt)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.CoordinatorID)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.CoordinatorID)
					</dd>

				</dl>

				@using (Html.BeginForm())
				{
				@Html.AntiForgeryToken()

					<div class="form-actions no-color">
						<input type="submit" value="Delete" class="btn btn-success" /> |
						@Html.ActionLink("Back to List", "Index")
					</div>
				}
			</div>
		</div>
	</div>
</div>